<div class = "container">
<div>
<img src="https://66.media.tumblr.com/077729f63cbb21c8f4cc5c5255336a98/tumblr_pdfdcpUdqU1xcbgkdo3_500.jpg" alt="book" height="100" width="100%" >
</div>

<nav class="navbar navbar-light" style="background-color: #f5f3f2;">
<ul class="nav nav-pills nav-justified">
<li class="nav-item">
<a class="active" style="background-color: #e3f2fd;" href="/books">Main Page</a>
</li>
</ul>
</nav>

<h1 class="text-center">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="form-group col-md-6">
  <%= f.label :fname, 'First Name :' %><br />
  <%= f.text_field :fname, autofocus: true, autocomplete: "First Name :", class:"form-control" %>
</div>
<div class="form-group col-md-6">
<%= f.label :lname, 'Last Name :' %><br />
<%= f.text_field :lname, autofocus: true, autocomplete: "Last Name :", class:"form-control" %>
</div>
<div class="form-group col-md-6">
<%= f.label :phone, 'Phone Number :' %><br />
<%= f.text_field :phone, autofocus: true, autocomplete: "Phone Number :" , class:"form-control"%>
</div>

  <div class="form-group col-md-6">
    <%= f.label :email, 'E-mail' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email" , class:"form-control"%>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :password, 'Password :' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%=  f.label :password_confirmation, 'Password confirmation :' %><br />
    <%=  f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="actions form-group col-md-6"> 
    <%= f.submit "Sign up" ,class:"btn ",style:"background-color:#70bde3;"%>
    <% end %>
    <%= link_to "Log in", new_session_path(resource_name), class:"btn ",style:"background-color:#70bde3;" %>
  </div>

</div>