

<%= form_for @book do |f| %>
    <div class="form-group col-md-6">
        <%= f.label :title, 'Book Title :'%>
        <%= f.text_field :title, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :auther, 'Book Author :'%>
        <%= f.text_field :auther , class:"form-control " %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :publisher, 'Book Publisher :' %>
        <%= f.text_field :publisher, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :edition, 'Book Edition :' %>
        <%= f.text_field :edition, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :status, 'Book Status :' %>
        <%= f.text_field :status , class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
    
        <%= f.label :pic, 'Book Picture :' %>
        <%= f.url_field :pic, class:"form-control" %>
        
    </div>
    <div class="form-group col-md-6">
        <%= f.label :price, 'Book Price :' %>
        <%= f.text_field :price, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
    <%= f.label :submit  ,class:"invisible" %>
    <%= f.submit "Submit", :class => "form-control btn waves-effect waves-light btn-primary" %>
    </div>

  <% end %>

 