
<div class = "container">

<div class = "container-fluid" style="background-color: green;">
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="/userBook">My Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/books/new">Create New Book</a>
  </li>
 
</ul>
</div>

<h1>Welcome To our BookStore...</h1>

<table class="striped bordered">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Edition</th>
    <th>Status</th>
    <th>Picture</th>
    <th>Price</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.auther %></td>
      <td><%= book.publisher %></td>
      <td><%= book.edition %></td>
      <td><%= book.status %></td>
      <td><%= image_tag(book.pic, size: "100x100", alt: "Book Image") %></td>
      <td><%= book.price %></td>
    </tr>
<% end %>
</table>

</div>