<div class="container">

<div>
<img src="https://66.media.tumblr.com/077729f63cbb21c8f4cc5c5255336a98/tumblr_pdfdcpUdqU1xcbgkdo3_500.jpg" alt="book" height="100" width="100%" >
</div>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<ul class="nav nav-pills nav-justified">
<li class="nav-item">
<a class="nav-link active" href="../books">Main Page</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/userBook">My Page</a>
</li> 
</ul>
</nav>
<h1 class = "display-3 text-center"><%= @books.title %> Book</h1>

<table class="table table-hover striped bordered">
  <tr class = 'label-info'>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Edition</th>
    <th>Status</th>
    <th>Picture</th>
    <th>Price</th>
  </tr>

  
      <tr>
        <td><%= @books.title %></td>
        <td><%= @books.auther %></td>
        <td><%= @books.publisher %></td>
        <td><%= @books.edition %></td>
        <td><%= @books.status %></td>
        <td><%= image_tag(@books.pic, size: "100x100", alt: "Book Image") %></td>
        <td><%= @books.price %></td>
      </tr>

</table>


<% if  current_user and @books.user_ids.include? current_user.id %>
<%= render 'reviews/form' %>
<%end%>

<table class="table table-hover striped bordered">
  <tr>
    <th>Recommend</th>
    <th>Rate</th>
  </tr>
<% @books.reviews.each do |r| %>
  <tr>
    <td><%= r.recommend %></td>
    <td>
    <% r.rate.times do  %>
      <span class="glyphicon glyphicon-star"></span>
     <% end %>
     
     </td>
  </tr>
  <% end %>
  </table>

<%= link_to 'Back', books_path %>

</div>