
<%= form_for Review.new do |f| %>
    <%=f.hidden_field :book_id , :value => @books.id %>
    <div class="input-field col s6">
    <%= f.label :recommend, 'Book review :'%>
    <%= f.text_field :recommend %>
    </div>

    <div class="field">
      <%= f.label :rate, 'Book rate :'%>
      <%= f.select :rate, [1,2,3,4,5] %>
    </div>

  <%= f.submit "Submit", class:"btn waves-effect waves-light" %>

  <% end %>
