<div class = "container">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<nav  class="navbar navbar-light" style="background-color: #e3f2fd;">
<% if user_signed_in? %>
<a  href="#"><h5>Logged in as <%= current_user.email %></h5></a>



  <ul class="navbar-nav">
    <div class="row">
    <li class="nav-item">
    <%= link_to "Edit profile", edit_user_registration_path, class:'nav-item mr-4'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'nav-item'  %>
    </li>
    </div>
    
    <%else%>
 
      <h5>welcome to our bookstore .. to share your books with others you have to Sign in</h5>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class:'nav-item'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class:'nav-item'  %>
      </li>
      
    </ul>
    <%end%>
    
</nav>

</div>